.bs-error {
	background-color: @bs-color-error;
}

.bs-success {
	background-color: @bs-color-success;
}

.bs-info {
	background-color: @bs-color-info;
}

.bs-warning {
	background-color: @bs-color-warning;
}

.bs-error, .bs-success, .bs-info, .bs-warning {
	padding: 0.3em;
}