
/*
 * Use gb flag for lang code en
*/
.bs-lang-flag-en {
	background-image: url(flags/gb.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ad {
	background-image: url(flags/ad.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ae {
	background-image: url(flags/ae.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-af {
	background-image: url(flags/af.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ag {
	background-image: url(flags/ag.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ai {
	background-image: url(flags/ai.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-al {
	background-image: url(flags/al.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-am {
	background-image: url(flags/am.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-an {
	background-image: url(flags/an.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ao {
	background-image: url(flags/ao.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ar {
	background-image: url(flags/ar.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-as {
	background-image: url(flags/as.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-at {
	background-image: url(flags/at.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-au {
	background-image: url(flags/au.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-aw {
	background-image: url(flags/aw.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ax {
	background-image: url(flags/ax.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-az {
	background-image: url(flags/az.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ba {
	background-image: url(flags/ba.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-bb {
	background-image: url(flags/bb.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-bd {
	background-image: url(flags/bd.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-be {
	background-image: url(flags/be.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-bf {
	background-image: url(flags/bf.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-bg {
	background-image: url(flags/bg.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-bh {
	background-image: url(flags/bh.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-bi {
	background-image: url(flags/bi.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-bj {
	background-image: url(flags/bj.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-bm {
	background-image: url(flags/bm.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-bn {
	background-image: url(flags/bn.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-bo {
	background-image: url(flags/bo.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-br {
	background-image: url(flags/br.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-bs {
	background-image: url(flags/bs.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-bt {
	background-image: url(flags/bt.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-bv {
	background-image: url(flags/bv.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-bw {
	background-image: url(flags/bw.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-by {
	background-image: url(flags/by.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-bz {
	background-image: url(flags/bz.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ca {
	background-image: url(flags/ca.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-catalonia {
	background-image: url(flags/catalonia.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-cc {
	background-image: url(flags/cc.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-cd {
	background-image: url(flags/cd.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-cf {
	background-image: url(flags/cf.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-cg {
	background-image: url(flags/cg.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ch {
	background-image: url(flags/ch.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ci {
	background-image: url(flags/ci.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ck {
	background-image: url(flags/ck.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-cl {
	background-image: url(flags/cl.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-cm {
	background-image: url(flags/cm.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-cn {
	background-image: url(flags/cn.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-co {
	background-image: url(flags/co.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-cr {
	background-image: url(flags/cr.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-cs {
	background-image: url(flags/cs.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-cu {
	background-image: url(flags/cu.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-cv {
	background-image: url(flags/cv.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-cx {
	background-image: url(flags/cx.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-cy {
	background-image: url(flags/cy.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-cz {
	background-image: url(flags/cz.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-de {
	background-image: url(flags/de.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-dj {
	background-image: url(flags/dj.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-dk {
	background-image: url(flags/dk.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-dm {
	background-image: url(flags/dm.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-do {
	background-image: url(flags/do.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-dz {
	background-image: url(flags/dz.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ec {
	background-image: url(flags/ec.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ee {
	background-image: url(flags/ee.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-eg {
	background-image: url(flags/eg.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-eh {
	background-image: url(flags/eh.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-england {
	background-image: url(flags/england.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-er {
	background-image: url(flags/er.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-es {
	background-image: url(flags/es.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-et {
	background-image: url(flags/et.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-europeanunion {
	background-image: url(flags/europeanunion.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-fam {
	background-image: url(flags/fam.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-fi {
	background-image: url(flags/fi.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-fj {
	background-image: url(flags/fj.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-fk {
	background-image: url(flags/fk.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-fm {
	background-image: url(flags/fm.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-fo {
	background-image: url(flags/fo.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-fr {
	background-image: url(flags/fr.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ga {
	background-image: url(flags/ga.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-gb {
	background-image: url(flags/gb.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-gd {
	background-image: url(flags/gd.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ge {
	background-image: url(flags/ge.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-gf {
	background-image: url(flags/gf.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-gh {
	background-image: url(flags/gh.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-gi {
	background-image: url(flags/gi.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-gl {
	background-image: url(flags/gl.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-gm {
	background-image: url(flags/gm.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-gn {
	background-image: url(flags/gn.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-gp {
	background-image: url(flags/gp.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-gq {
	background-image: url(flags/gq.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-gr {
	background-image: url(flags/gr.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-gs {
	background-image: url(flags/gs.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-gt {
	background-image: url(flags/gt.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-gu {
	background-image: url(flags/gu.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-gw {
	background-image: url(flags/gw.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-gy {
	background-image: url(flags/gy.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-hk {
	background-image: url(flags/hk.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-hm {
	background-image: url(flags/hm.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-hn {
	background-image: url(flags/hn.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-hr {
	background-image: url(flags/hr.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ht {
	background-image: url(flags/ht.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-hu {
	background-image: url(flags/hu.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-id {
	background-image: url(flags/id.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ie {
	background-image: url(flags/ie.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-il {
	background-image: url(flags/il.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-in {
	background-image: url(flags/in.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-io {
	background-image: url(flags/io.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-iq {
	background-image: url(flags/iq.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ir {
	background-image: url(flags/ir.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-is {
	background-image: url(flags/is.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-it {
	background-image: url(flags/it.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-jm {
	background-image: url(flags/jm.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-jo {
	background-image: url(flags/jo.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-jp {
	background-image: url(flags/jp.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ke {
	background-image: url(flags/ke.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-kg {
	background-image: url(flags/kg.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-kh {
	background-image: url(flags/kh.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ki {
	background-image: url(flags/ki.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-km {
	background-image: url(flags/km.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-kn {
	background-image: url(flags/kn.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-kp {
	background-image: url(flags/kp.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-kr {
	background-image: url(flags/kr.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-kw {
	background-image: url(flags/kw.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ky {
	background-image: url(flags/ky.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-kz {
	background-image: url(flags/kz.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-la {
	background-image: url(flags/la.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-lb {
	background-image: url(flags/lb.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-lc {
	background-image: url(flags/lc.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-li {
	background-image: url(flags/li.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-lk {
	background-image: url(flags/lk.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-lr {
	background-image: url(flags/lr.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ls {
	background-image: url(flags/ls.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-lt {
	background-image: url(flags/lt.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-lu {
	background-image: url(flags/lu.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-lv {
	background-image: url(flags/lv.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ly {
	background-image: url(flags/ly.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ma {
	background-image: url(flags/ma.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-mc {
	background-image: url(flags/mc.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-md {
	background-image: url(flags/md.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-me {
	background-image: url(flags/me.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-mg {
	background-image: url(flags/mg.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-mh {
	background-image: url(flags/mh.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-mk {
	background-image: url(flags/mk.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ml {
	background-image: url(flags/ml.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-mm {
	background-image: url(flags/mm.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-mn {
	background-image: url(flags/mn.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-mo {
	background-image: url(flags/mo.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-mp {
	background-image: url(flags/mp.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-mq {
	background-image: url(flags/mq.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-mr {
	background-image: url(flags/mr.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ms {
	background-image: url(flags/ms.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-mt {
	background-image: url(flags/mt.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-mu {
	background-image: url(flags/mu.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-mv {
	background-image: url(flags/mv.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-mw {
	background-image: url(flags/mw.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-mx {
	background-image: url(flags/mx.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-my {
	background-image: url(flags/my.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-mz {
	background-image: url(flags/mz.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-na {
	background-image: url(flags/na.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-nc {
	background-image: url(flags/nc.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ne {
	background-image: url(flags/ne.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-nf {
	background-image: url(flags/nf.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ng {
	background-image: url(flags/ng.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ni {
	background-image: url(flags/ni.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-nl {
	background-image: url(flags/nl.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-no {
	background-image: url(flags/no.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-np {
	background-image: url(flags/np.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-nr {
	background-image: url(flags/nr.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-nu {
	background-image: url(flags/nu.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-nz {
	background-image: url(flags/nz.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-om {
	background-image: url(flags/om.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-pa {
	background-image: url(flags/pa.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-pe {
	background-image: url(flags/pe.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-pf {
	background-image: url(flags/pf.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-pg {
	background-image: url(flags/pg.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ph {
	background-image: url(flags/ph.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-pk {
	background-image: url(flags/pk.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-pl {
	background-image: url(flags/pl.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-pm {
	background-image: url(flags/pm.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-pn {
	background-image: url(flags/pn.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-pr {
	background-image: url(flags/pr.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ps {
	background-image: url(flags/ps.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-pt {
	background-image: url(flags/pt.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-pw {
	background-image: url(flags/pw.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-py {
	background-image: url(flags/py.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-qa {
	background-image: url(flags/qa.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-re {
	background-image: url(flags/re.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ro {
	background-image: url(flags/ro.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-rs {
	background-image: url(flags/rs.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ru {
	background-image: url(flags/ru.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-rw {
	background-image: url(flags/rw.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-sa {
	background-image: url(flags/sa.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-sb {
	background-image: url(flags/sb.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-sc {
	background-image: url(flags/sc.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-scotland {
	background-image: url(flags/scotland.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-sd {
	background-image: url(flags/sd.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-se {
	background-image: url(flags/se.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-sg {
	background-image: url(flags/sg.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-sh {
	background-image: url(flags/sh.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-si {
	background-image: url(flags/si.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-sj {
	background-image: url(flags/sj.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-sk {
	background-image: url(flags/sk.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-sl {
	background-image: url(flags/sl.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-sm {
	background-image: url(flags/sm.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-sn {
	background-image: url(flags/sn.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-so {
	background-image: url(flags/so.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-sr {
	background-image: url(flags/sr.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-st {
	background-image: url(flags/st.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-sv {
	background-image: url(flags/sv.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-sy {
	background-image: url(flags/sy.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-sz {
	background-image: url(flags/sz.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-tc {
	background-image: url(flags/tc.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-td {
	background-image: url(flags/td.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-tf {
	background-image: url(flags/tf.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-tg {
	background-image: url(flags/tg.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-th {
	background-image: url(flags/th.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-tj {
	background-image: url(flags/tj.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-tk {
	background-image: url(flags/tk.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-tl {
	background-image: url(flags/tl.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-tm {
	background-image: url(flags/tm.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-tn {
	background-image: url(flags/tn.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-to {
	background-image: url(flags/to.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-tr {
	background-image: url(flags/tr.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-tt {
	background-image: url(flags/tt.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-tv {
	background-image: url(flags/tv.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-tw {
	background-image: url(flags/tw.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-tz {
	background-image: url(flags/tz.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ua {
	background-image: url(flags/ua.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ug {
	background-image: url(flags/ug.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-um {
	background-image: url(flags/um.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-us {
	background-image: url(flags/us.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-uy {
	background-image: url(flags/uy.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-uz {
	background-image: url(flags/uz.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-va {
	background-image: url(flags/va.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-vc {
	background-image: url(flags/vc.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ve {
	background-image: url(flags/ve.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-vg {
	background-image: url(flags/vg.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-vi {
	background-image: url(flags/vi.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-vn {
	background-image: url(flags/vn.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-vu {
	background-image: url(flags/vu.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-wales {
	background-image: url(flags/wales.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-wf {
	background-image: url(flags/wf.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ws {
	background-image: url(flags/ws.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-ye {
	background-image: url(flags/ye.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-yt {
	background-image: url(flags/yt.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-za {
	background-image: url(flags/za.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-zm {
	background-image: url(flags/zm.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.bs-lang-flag-zw {
	background-image: url(flags/zw.png);
	background-repeat: no-repeat;
	background-position: left center;
}
