/* KeyValueInputWidget */
.bs-ooui-widget-keyValueInputWidget {
	margin: 10px 0 10px 0;
	.bs-ooui-keyValueInputWidget-separator {
		display: block;
		width: 100%;
		height: 1px;
		border-bottom: 1px solid #2f6fab;
	}
	.oo-ui-fieldLayout {
		width: 44%;
		display: inline-block;
		margin-left: 2%;
		.oo-ui-fieldLayout-field {
			width: 100%;
		}
	}
	.bs-ooui-keyValueInputWidget-value-container {
		.bs-ooui-keyValueInputWidget-no-value-label {
			margin-top: 10px;
			margin-left: 2%;
		}
	}
	.bs-ooui-widget-keyValueInputWidget-add-container {
		margin-top: 20px;
		.oo-ui-labelWidget {
			display: block;
			margin-left: 2%;
			margin-bottom: 0;
			font-weight: normal;
			font-size: 1.3em;
		}
		.bs-ooui-keyValueInputWidget-error-box {
			margin-left: 2%;
			margin-top: 10px;
			label {
				margin-left: 10px;
				display: inline;
				vertical-align: bottom;
			}
		}
	}
	.bs-ooui-widget-keyValueInputWidget-add-btn {
		margin-top: -4px;
	}
	.bs-ooui-widget-keyValueInputWidget-remove-btn {
		display: inline-block;
		margin-left: 10px;
		margin-top: -27px;
	}
	.oo-ui-fieldLayout.oo-ui-labelElement {
		+.bs-ooui-widget-keyValueInputWidget-remove-btn {
			margin-top:-8px;
		}
	}
	.instance-block {
		position: relative;
		padding-top: 20px;
		&:first-of-type {
			padding-top: 0;
		}
	}
	&.bs-ooui-widget-keyObjectInputWidget {
		position: relative;
		border-bottom: 1px solid #2f6fab;
		padding: 10px;
		.keyObjectInputWidget-value-layout {
			padding-bottom: 30px;
		}
		.bs-ooui-widget-keyObjectInputWidget-remove-btn {
			position: absolute;
			right: 10px;
			top: 10px;
		}
		.keyObjectInputWidget-addbutton {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
	}
	.oo-ui-flaggedElement-invalid {
		border-color: #d33;
	}
}

.oo-ui-icon-cellBackgroundColor {
	/*@embed*/
	background-image: url( 'icons/cellBackgroundColor.svg' );
}

.oo-ui-icon-textDirVert, .oo-ui-icon-textDirVertLTR {
	/*@embed*/
	background-image: url( 'icons/textDIRvertLTR.svg' );
}

.oo-ui-icon-textDirVertRTL {
	/*@embed*/
	background-image: url( 'icons/textDIRvertRTL.svg' );
}

.oo-ui-icon-tableDuplicateCol {
	/*@embed*/
	background-image: url( 'icons/tableDuplicateCol.svg' );
}

.oo-ui-icon-tableDuplicateRow {
	/*@embed*/
	background-image: url( 'icons/tableDuplicateRow.svg' );
}

.oo-ui-icon-tableDuplicateCol {
	/*@embed*/
	background-image: url( 'icons/tableDuplicateCol.svg' );
}

.oo-ui-icon-rowHeight {
	/*@embed*/
	background-image: url( 'icons/rowHeight.svg' );
}

.oo-ui-icon-columnWidth {
	/*@embed*/
	background-image: url( 'icons/colWidth.svg' );
}

.oo-ui-icon-textColor {
	/*@embed*/
	background-image: url( 'icons/textColor.svg' );
}

.oo-ui-icon-softHyphen {
	/*@embed*/
	background-image: url( 'icons/softHyphen.svg' );
}

/* make selectboxes appear on top */
.oo-ui-menuSelectWidget {
	z-index: 21;
}

.oo-ui-icon-bluespice {
	/*@embed*/
	background-image: url( 'icons/bluespice_black.svg' );
}
