.x-combo-list-inner {
	text-align: left;
}

.x-tree-node {
	margin-right: 25px;
}

ul.x-menu-list {
	margin: 0;
}
#content ol {
	list-style: decimal !important;
}

#content form input[type=text].x-form-field {
	border: none;
	background: none;
	margin: 0;
}

/*Fix underlining by commonElements.css*/
a.x-btn-over, 
a.x-btn-over {
	text-decoration: none;
}

a.x-btn-over, 
a.x-btn-over,
a.x-btn-focus, 
a.x-btn-focus {
	text-decoration: none;
}

/* Fix blue background from general.css */
input:focus.x-field-form-focus, 
textarea:focus.x-field-form-focus, 
input:focus.x-field-form-focus, 
textarea:focus.x-field-form-focus {
	background-color: #FFF;
}

/*Fix ExtJS RESET*/
.x-body {
	font-family: Arial,Verdana,Geneva,sans-serif; /* BlueSpice default */
}

.x-layer {
	font-family: tahoma,arial,verdana,sans-serif;
}

.x-tool-img {
	height: 20px;
}


/* BS.CRUDGridPanel */
.bs-extjs-crud-grid tr.x-grid-row ul.bs-extjs-list {
	list-style-type: none;
	list-style-image: none;
	font-size: 11px;
	margin: 0;
}

.bs-extjs-crud-grid tr.x-grid-row .bs-extjs-actioncloumn-icon {
	display: none;
	height: 24px;
	width: 24px
}

.bs-extjs-crud-grid tr.x-grid-row:hover .bs-extjs-actioncloumn-icon {
	display: inline-block;
}
.bs-extjs-crud-grid tr.x-grid-row {
	height: 34px;
}