/* FROM http://stackoverflow.com/questions/32688206/icomoon-glyph-on-group-grid-extjs-action-column-not-working */
.x-action-col-glyph {
	font-size:16px;
	line-height:16px;
	color:#9BC8E9;
	width:20px
}

#content .bs-form-field-itemlist,
.bs-form-field-itemlist {
	.x-grid-row-over .x-action-col-cell {
		.icon-cross3:before {
			color: red;
		}
	}
}

.icon-user:before {
	content: "\e7d1";
}
.icon-group:before {
	content: "\e7d2";
}

.x-list-plain li span[class='icon-*'] {
	margin-right: 0.1em;
}

.bs-typeicon {
	margin-right: 0.5em;
}

body.mediawiki #content {
	& .bs-extjs-actioncolumn-icon,
	& .x-btn-glyph {
		&:before {
			color: #999;
		}

		&.progressive:before {
			color: @bs-color-progressive
		}

		&.contructive:before {
			color: @bs-color-contructive
		}

		&.destructive:before {
			color: @bs-color-destructive
		}
	}
}

/* FROM http://stackoverflow.com/questions/32688206/icomoon-glyph-on-group-grid-extjs-action-column-not-working */
.x-action-col-glyph {
	font-size:16px;
	line-height:16px;
	color:#9BC8E9;
	width:20px
}

#content .bs-form-field-itemlist,
.bs-form-field-itemlist {
	.x-grid-row-over .x-action-col-cell {
		.icon-cross3:before {
			color: red;
		}
	}
}

.x-list-plain li span[class='bs-icon-*'] {
	margin-right: 0.1em;
}

.bs-typeicon {
	margin-right: 0.5em;
}

.bs-model-title-type-namespace .x-grid-cell {
	font-style: oblique;
}

.bs-model-title-type-specialpage .x-grid-cell {
	font-weight: bold;
}

.bs-model-title-type-title .x-grid-cell {
	color: #3e5389; //MediaWiki default
}

.bs-model-title-type-title.new .x-grid-cell {
	color: #ba0000; //MediaWiki default
}

.new-page-hint {
	font-weight: bold;
	font-style: italic;
}

.bs-flyout-tabbed-data-view {
	.x-tab {
		padding: 0;
	}

	.x-tab-inner {
		text-indent: 9999px;
		width: 0;
	}
	.x-tab-icon-el {
		margin: 0;
	}
}

.bs-flyout-two-columns{
	div.x-border-layout-ct,
	.x-panel-body-default,
	.x-toolbar-footer,
	.x-toolbar-default,
	.x-grid-item {
		background: none;
	}
}

.bs-crud-panel-toolbar {
	.x-btn-default-toolbar-small.x-btn-disabled,
	.x-btn-default-toolbar-small-focus.x-btn-focus,
	.x-btn-default-toolbar-small {
		border: none;
		background-color: transparent;
		box-shadow: none;
	}
}

.x-btn-progressive {
	background-color: #0060df !important;
	&:hover, &:focus, &.x-btn-pressed {
		background-color: #055acb !important;
	}
	span, &:hover span, &:focus span {
		color: #FFFFFF;
	}
}