.x-combo-list-inner {
	text-align: left;
}

.x-tree-node {
	margin-right: 25px;
}

ul.x-menu-list {
	margin: 0;
}
#content ol {
	list-style: decimal !important;
}

#content form input[type=text].x-form-field {
	border: none;
	background: none;
	margin: 0;
}

/* Fix underlining by commonElements.css */
a.x-btn-over,
a.x-btn-over:hover,
a.x-btn-focus,
a.x-btn-focus:focus
a.x-btn-disabled,
a.x-btn-disabled:hover{
	text-decoration: none;
}

/* Fix blue background from general.css */
input:focus.x-field-form-focus,
textarea:focus.x-field-form-focus,
input:focus.x-field-form-focus,
textarea:focus.x-field-form-focus {
	background-color: #FFF;
}

/* Fix ExtJS RESET */
body.x-body {
	font-family: sans-serif; /* MediaWiki default */
	/*
		This is disabled because the default BlueSpiceSkin has issues we cannot
		resolve right now. As soon as the BlueSpiceSkin is Vector compatible
		we can add this line to prevent BSF from breaking Vector based skins.
	*/
	/*font-size: 1em;*/ /* MediaWiki default */
}

/* Override font from BlueSpiceSkin */
.x-layer {
	font-family: helvetica, arial, verdana, sans-serif; /* ExtJS default */
}

.x-tool-img {
	margin-top: -3px !important;
}


/* BS.CRUDGridPanel */
.bs-extjs-crud-grid tr.x-grid-row ul.bs-extjs-list {
	list-style-type: none;
	list-style-image: none;
	font-size: 11px;
	margin: 0;
}

.bs-extjs-crud-grid tr.x-grid-row .bs-extjs-actioncloumn-icon, /*TYPO*/
.bs-extjs-crud-grid tr.x-grid-row .bs-extjs-actioncolumn-icon {
	visibility: hidden;
	height: 24px;
	width: 24px
}

.bs-extjs-crud-grid tr.x-grid-row:hover .bs-extjs-actioncloumn-icon,/*TYPO*/
.bs-extjs-crud-grid tr.x-grid-row:hover .bs-extjs-actioncolumn-icon {
	visibility: visible;
}
.bs-extjs-crud-grid tr.x-grid-row,
.bs-extjs-crud-grid tr.x-grid-data-row {
	height: 34px;
}

#content .x-window, .x-window,
#content .x-panel, .x-panel {
	line-height: normal;
}

.x-btn-toolbar {
	text-decoration: none !important;
}

.ux-filtered-column {
	/*@embed*/
	background-image:url("images/icon_filter.png");
	background-repeat: no-repeat !important;
	background-position: calc(100% - 5px) 3px !important;
}

.x-boundlist-item {
	font-size: 13px;
}

.bs-form-tree-trigger {
	background-image: url(images/tree-trigger.png);
	width: 25px !important;
}

.bs-form-tree-trigger:hover {
	background-position-x: 0 !important;
}
