/*
 * RangeMenu Styles
 */

.ux-rangemenu-icon {
    display: block;
    height: 16px;
    background: no-repeat 5px center;
}

.ux-rangemenu-gt {
    background-image: url(../images/greater_than.png) !important;
}

.ux-rangemenu-lt {
    background-image: url(../images/less_than.png) !important;
}

.ux-stringmenu-equals, .ux-rangemenu-eq {
    background-image: url(../images/equals.png) !important;
}

.ux-stringmenu-equals-not {
    background-image: url(../images/equals_not.png) !important;
}
.ux-stringmenu-contains {
    background-image: url(../images/contains.png) !important;
}
.ux-stringmenu-contains-not {
    background-image: url(../images/contains_not.png) !important;
}
.ux-stringmenu-starts-with {
    background-image: url(../images/starts_with.png) !important;
}
.ux-stringmenu-ends-with {
    background-image: url(../images/ends_with.png) !important;
}