@font-face {
    font-family: "icomoon";
    src: url("icomoon.ttf") !important;
    font-weight: normal;
    font-style: oblique;
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}