<div class="placeholder-loader">
	<div class="bs-placeholder-container">
		<div class="bs-placeholder-item-rect full"></div>
	</div>
	<div class="bs-placeholder-item-grid">
		<div class="bs-placeholder-item-row">
			<div class="bs-placeholder-item-grid-header-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-header-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-header-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-header-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-header-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-header-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
		</div>
		<div class="bs-placeholder-item-row">
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
		</div>
		<div class="bs-placeholder-item-row">
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
		</div>
		<div class="bs-placeholder-item-row">
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
		</div>
		<div class="bs-placeholder-item-row">
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
			<div class="bs-placeholder-item-grid-cell">
				<div class="bs-placeholder-item-grid-cell-text"></div>
			</div>
		</div>
	</div>
</div>